page-login {

  .login-content {
    background: #6699CC;

    .logo-row {
      padding-top: 40px;
      padding-bottom: 10px;
    }

    .login-box {
      background: #6699CC;
      padding: 20px 20px 0px 20px;
      margin-top: 30px;
    }

    ion-row {
       align-items: center;
       text-align: center;
     }

     ion-item {
         border-radius: 30px;
         padding-left: 30px;
         font-size: 0.9em;
         margin-bottom: 10px;
         border: 1px solid #ffffff;
         border-bottom: 0px;
         box-shadow: none;
     }

     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }

     .item-inner {
       border-bottom-color: #ffffff;
       box-shadow: none;
     }

     .submit-btn {
       background: #000044;
       border-radius: 30px;
       border: 2px solid #FFA500;
     }

     .register-btn {
       color: #FFA500;
       font-size: 1em;
     }
  }

}
