page-profile {
  .title {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: left;
    font-style: italic;
}

  .image-comments {

  }
  .pins {
    column-count: 3;
  }

  .pin  {
    display: inline-block;
    margin: 0 2px 10px;
    padding: 5px;
  }
.userProperties {
    text-align: center;
  }

}
