page-new-item {
  .img{
    padding: 5px;
    height: 200px;
    background: #f2f2f2;
    display: block;
    margin-left: auto;
    margin-right: auto
  }
}

.icons {
    background-color: #fff;
    color: #7f8c8d;
    margin: 0;
    font-size: 1em;
}
.place {
    background-color: #fff;
    color: #7f8c8d;
    margin: 0;
    font-size: 1em;
}
